name: Main branch - Linux JAR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        natives: [linux, windows, macos]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn --batch-mode package --file pom.xml -Dlwjgl.natives=natives-${{ matrix.natives }}

#    - name: Copy to staging
#      run: mkdir staging && cp target/zatikon-*.jar staging

#    - name: Upload
#      uses: actions/upload-artifact@v4
#      with:
#        name: zatikon-1.2.0-dev-linux
#        path: target/zatikon-*.jar

    - name: Pack into tgz
      run: mv target/zatikon-*.jar zatikon-dev-linux.jar

    - name: Deploy Nightly
      if: github.event_name != 'pull_request'  # don't deploy the PR builds
      uses: lukky513/deploy-nightly@master
      with:
          upload_url: https://uploads.github.com/repos/zatikon/zatikon/releases/197933187/assets{?name,label}
          release_id: 197933187
          asset_path: zatikon-dev-linux.jar
          asset_name: zatikon-dev-linux-$$.jar
          asset_content_type: application/java-archive

# Well it's cool it can be deployed but I don't need that now
#    - name: Publish package
#      run: mvn --batch-mode deploy
#      env:
#        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

# What I need is to create a release on Github and publish latest version on Flathub. TODO: that.
