name: Release build - Windows installer

on:
  release:
    types: ["published"]

jobs:
  build:
    runs-on: windows-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Set version from tag
        id: set-version
        run: echo "version=$('${{ github.ref }}'.substring(11))" >> $env:GITHUB_OUTPUT

      - name: Build with Maven
        run: mvn --batch-mode package --file pom.xml '-Dproject.version=${{ steps.set-version.outputs.version }}'

      - name: Set up package directories
        run: mkdir target/jpack

      - name: Copy the jar
        run: cp target/zatikon-*.jar target/jpack/zatikon.jar

      - name: Package into exe
        run: jpackage --type exe --name Zatikon --input target/jpack/ --main-jar zatikon.jar --main-class leo.client.WindowsLauncher --dest exepack --app-version '${{ steps.set-version.outputs.version }}' --icon src/main/resources/icons/zatikon.ico --win-dir-chooser --win-shortcut --win-menu --win-shortcut-prompt --win-upgrade-uuid 6540EFA3-65AB-4E93-920C-54793ECC7E86

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: zatikon-${{ steps.set-version.outputs.version }}
          path: exepack
